@import "../../App.scss";

.MuiPaper-root {
    color: $text-D !important;
    background-color: $card-dark !important;
}

.MuiPaper-elevation4 {
    box-shadow: none !important;
}

.MuiTableCell-body {
    color: $text-D !important;
}

.MuiTableCell-root {
    border-bottom: 1px solid $divider !important;
} 

.MUIDataTableBodyRow-responsiveStacked-68 {
    border-top: solid 1px $divider !important;
    border-bottom: solid 1px $divider !important;
}

.MUIDataTableHeadCell-fixedHeader-51 {
    background-color: $card-dark !important;
}

.MuiTableCell-head {
    background-color:$card-dark !important;
    color: $text-D !important;
}

.MuiCheckbox-root {
    color: $text-D !important;
    display: none !important;
}

.MUIDataTableSelectCell-headerCell-41 {
    background-color:$card-dark !important;
}

.MuiIconButton-root {
    color: $muted !important;
}

.MuiTablePagination-root {
    color: $text-D !important;
}

.MuiInputBase-input{
    &:focus,
    &:active{
        border: none !important ;
    }
}

.MUIDataTableHeadCell-sortActive-58 {
    color: $primary !important;
}


.MuiTableSortLabel-root.MuiTableSortLabel-active.MuiTableSortLabel-root.MuiTableSortLabel-active .MuiTableSortLabel-icon {
    color: $muted !important;
}

.MuiSvgIcon-root {
    color: $muted !important;
}

.MuiInput-underline::before {
    color: $primary !important;
    border-bottom: 1px solid $primary !important;
}

.MuiInput-underline::after {
    border-bottom: 1px solid $primary !important;
}

.MuiInputBase-root {
    color: $text-D !important;
    &:active{
        border: none !important;
    }
}

.MuiTableCell-paddingCheckbox {
    background-color: $card-dark;
    display: none !important;
}

.MUIDataTableFilter-root-88 {
    color: $text-D !important;
    background-color: $card-dark !important;
}

.MUIDataTableFilter-title-90 {
    color: $text-D !important;
}

.MuiButton-textPrimary{
    color: $text-D !important;
}

.MuiFormLabel-root {
    color: $muted !important;
}

.MUIDataTableViewCol-title-104 {
    color:$muted !important;
}

.MUIDataTableViewCol-label-110 {
    color: $text-D !important;
}

.MUIDataTableViewCol-title-89, .MUIDataTableViewCol-title-108 {
    color: $text-D !important;
    font-size: 16px !important;
}

.MUIDataTableViewCol-label-95, .MUIDataTableViewCol-label-114 {
    color: $text-D !important;
    font-size: 14px !important;
}

.MUIDataTableFilter-root-96 {
    background-color: $card-dark !important;
}

.MUIDataTableFilter-title-98 {
    color: $text-D !important;
}

.MuiMenuItem-root {
    font-size: 14px !important;
}


.MuiInputBase-input {
    font-size: 14px !important;
}

.jss50, .jss51, .jss137, .jss138, .jss115, .jss117, .jss88, .jss175,  .jss177 {
    background-color: $card-dark !important;
    color: $text-D !important;
}