@import "../../App.scss";

.nav {
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar {
    background: transparent;
    height: 60px;
    padding: 0;
    vertical-align: middle;
    width: 100%;
    @include respond('phone-land') {
        padding: 1.5rem 0;
    } 
    .navbar-left {
        display: none;
        flex-basis: 40%;
        position: absolute;
        padding: 1rem 0;
        left: -130px;
        @include respond('phone-land') {
            display: block;
        }
        .menu-button-mobile {
            text-align: center;
            margin-left: 20px;
            svg {
                height: 22px;
            }
        }
    }

    .navbar-right {
        flex-basis: 40%;
        text-align: right;
    }
    .user {
        margin-right: 20px;
        img {
            border-radius: 3rem;
            width: 150px;
            @include respond('phone-land') {
                height: auto;
                width: 90px;
                margin-top: -20px;
            }
        }
    }
}

.d-inline-block {
    display: inline-block !important;
}

.ant-dropdown-menu {
    background-color: $card-dark !important;
    top: 15px !important;
}

.ant-dropdown-menu-item > a, .ant-dropdown-menu-submenu-title > a {
    display: block;
    margin: -5px -12px;
    padding: 5px 12px;
    color:$text-D !important;
    transition: all 0.3s;
}

.ant-dropdown-menu-item-active {
    background-color: $text-L !important;
    color: $text-D !important;
}