@import "../../App.scss";

.ant-radio-checked::after {
    border: 1px solid $primary !important;
}

.ant-radio-wrapper:hover .ant-radio,
.ant-radio:hover .ant-radio-inner,
.ant-radio-input:focus + .ant-radio-inner {
  border-color:$primary !important;
}

.ant-radio-inner {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    background-color:$text-L !important;
    border-color: $text-L !important;
    border-style: solid;
    border-width: 1px;
    border-radius: 100px;
    transition: all 0.3s; }
  
  .ant-radio-inner::after {
    background-color: $primary !important;}
  
  
  .ant-radio-checked .ant-radio-inner {
    border-color: $primary !important; }
  
  .ant-radio-checked .ant-radio-inner::after {
    transform: scale(1);
    opacity: 1;
    transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86); }
  
  
