@import "../../App.scss";

.hooks-main > svg {
  display: none;
}

.hooks-main > div {
  position: absolute;
  will-change: transform;
  border-radius: 50%;
  background: $primary;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  opacity: 0.6;
}
  
.hooks-main > div:nth-child(1) {
  width: 120px;
  height: 120px;
}

.hooks-main > div:nth-child(2) {
  width: 250px;
  height: 250px;
}

.hooks-main > div:nth-child(3) {
  width: 150px;
  height: 150px;
}

.hooks-main > div::after {
  content: '';
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: $card-dark;
}

.hooks-main > div:nth-child(2)::after {
  top: 70px;
  left: 70px;
  width: 70px;
  height: 70px;
}

.hooks-main > div:nth-child(3)::after {
  top: 50px;
  left: 50px;
  width: 50px;
  height: 50px;
}

.hooks-main {
  position: absolute;
  width: 100%;
  height: 100vh;
  filter: url('#goo');
  overflow: hidden;
  @include respond('phone-land') {
    height: 90vh;
  }
}

.error {
    position: fixed;
    top: 30%;
    padding-bottom: 30%;
    
    h1 {
        font-size: 5rem;
        color: $white !important;
    }
    h2 {
        font-size: 1rem;
        color: $white !important;
    }
    .ant-btn {
        margin-top: 3%;
        @include respond('phone-land') {
            margin-top: 10%;
        }
        & > span {
            line-height: 3.5;
        }
    }
}